body {
	font-family: 'Public Sans', sans-serif;
}

.main-nav {
	position: sticky;
	float: right;
	top: 10%;
	margin-right: 10%;
}

.main-nav a {
	color: black;
	font-weight: 300;
}

.main-nav li {
	padding: 0.3rem;
	list-style: none;
}

.main {
	margin-left: 2rem;
}

li {
	list-style-type: square;
}

.heading {
	color: peru;
	text-decoration: underline;
}

p {
	font-weight: 300;
}

.col-4 {
	padding-left: 0;
}

.section-odd {
	/* background-color: #7fc9c1; */
}

.section-even {
	/* background-color: #c7e7c2; */
}
